packages/Alfred.alfredpreferences/workflows/user.workflow.0C3E33F2-2075-4314-9344-8D4FC38CD827/
packages/Alfred.alfredpreferences/workflows/user.workflow.AFF71215-FB81-4F65-BF52-97FD1FEDCC19/
packages/Alfred.alfredpreferences/workflows/user.workflow.C1E8F8F7-D759-4158-9590-E6E78C03DBA4/
.mypy_cache
